@font-face {
  font-family: "logo";
  src: url("../fonts/Monthoers.otf") format("otf");
  src: url("../fonts/Monthoers.ttf") format("truetype"); }
@font-face {
  font-family: "signature";
  src: url("../fonts/Falconers.ttf") format("truetype"); }
@font-face {
  font-family: "orange";
  src: url("../fonts/orange.ttf") format("truetype"); }
.homepage {
  background-image: linear-gradient(#393936, Dimgray);
  width: 100%;
  height: 100vh;
  color: white;
  font-family: arial; }
  .homepage h2:first-of-type {
    line-height: 60px;
    letter-spacing: -2px;
    color: #ca4f00; }
  .homepage .home a {
    font-size: 50px;
    margin-top: 25px;
    text-decoration: none;
    color: white; }
  .homepage .home a:hover {
    color: #ca4f00;
    -ms-transform: rotateX(180deg);
    /* IE 9 */
    -webkit-transform: rotateX(180deg);
    /* Chrome, Safari, Opera */
    transform: rotateX(180deg);
    transition: 1.3s; }
  .homepage .sign {
    font-family: "signature";
    font-size: 100px;
    line-height: 30px;
    letter-spacing: 12px; }
  .homepage .orange {
    font-family: "orange";
    font-size: 50px;
    padding: 0;
    line-height: 50px;
    letter-spacing: 4px;
    font-variant-caps: small-caps; }
  .homepage .orange2 {
    color: #ca4f00;
    letter-spacing: 10px;
    padding-left: 4px; }
  .homepage .apprentie {
    letter-spacing: 5.5px;
    font-weight: bold;
    color: #ca4f00; }
  .homepage .interest {
    letter-spacing: -1px;
    line-height: 40px;
    margin-left: 0px;
    position: relative;
    top: -5px; }
  .homepage h1 {
    font-family: "logo";
    line-height: 55px;
    font-size: 5em; }
    .homepage h1 span {
      letter-spacing: 2.5px; }

body > nav {
  position: fixed !important;
  width: 100vw;
  opacity: 0.9;
  z-index: 4; }
  body > nav button {
    position: relative;
    top: 22px;
    border: none !important; }
  body > nav h1 {
    font-family: "logo";
    margin-top: 10px; }
  body > nav ul {
    margin-left: auto;
    margin-right: 5%; }
    body > nav ul .active a {
      border-bottom: 2px solid white; }
    body > nav ul .active a:hover {
      border-bottom: 2px solid #00be65; }
    body > nav ul a:hover {
      color: #00be65 !important; }

.excepthome main {
  position: relative;
  top: 110px;
  text-align: justify;
  width: 90%;
  margin: auto; }
  .excepthome main h2 {
    font-family: "signature";
    text-align: center;
    font-size: 3.7em;
    line-height: 60px;
    border-bottom: 3px solid #00be65;
    color: #00be65; }
  .excepthome main .resume img {
    border-radius: 3px;
    box-shadow: 0px 2px 2px grey;
    padding: 0;
    filter: grayscale(70%);
    -webkit-filter: grayscale(70%);
    -moz-filter: grayscale(70%);
    -ms-filter: grayscale(70%);
    -o-filter: grayscale(70%); }

.excepthome .parallax {
  overflow-x: hidden !important;
  position: relative;
  min-width: 111.60%;
  left: -6%; }

@media (min-width: 576px) {
  .excepthome .resume img {
    min-width: 150px !important;
    max-width: 200px;
    max-height: 200px; } }
@media (min-width: 768px) {
  .homepage nav {
    position: absolute;
    right: 25px;
    top: 10px; }
    .homepage nav ul {
      padding: 0;
      display: flex;
      font-size: 2em;
      width: 200px;
      justify-content: space-between; }
      .homepage nav ul li {
        list-style-type: none !important; }
        .homepage nav ul li .modal {
          color: #ca4f00;
          text-align: center;
          padding: auto 1em;
          font-size: 0.9em !important; }
        .homepage nav ul li a {
          color: white; }
        .homepage nav ul li a:hover i, .homepage nav ul li a:focus i {
          transform: scale(1.15);
          transition: 0.5s;
          color: white; }

  .excepthome > nav h1 {
    font-size: 3.3em;
    margin: -10px 0; }

  .excepthome main {
    position: relative;
    top: 110px;
    text-align: justify;
    width: 90%;
    margin: auto; }
    .excepthome main .parallax {
      /* The image used */
      background-image: url("../img/bg.jpg");
      /* Full height */
      height: 450px;
      width: 100%;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center top;
      background-repeat: no-repeat; }

  .excepthome .miseenpage {
    width: 75%;
    max-width: 700px;
    margin: 0 auto 1em auto; } }

/*# sourceMappingURL=main.css.map */
