// code couleur

$color-green: rgb(0,190,101);
$color-yellow: rgb(229,243,116);
$color-pink:rgb(238,127,206);
$color-orange:rgb(202,79,0);
$color-grey:rgb(57,57,54);



// Mise en page du pré-accueil -------------------------------------------------------

// code font
@font-face {
  font-family: "logo";
  src: url("../fonts/Monthoers.otf") format('otf');
  src: url("../fonts/Monthoers.ttf") format('truetype');
}

@font-face {
  font-family: "signature";
  src: url("../fonts/Falconers.ttf") format('truetype');
}

@font-face {
  font-family: "orange";
  src: url("../fonts/orange.ttf") format('truetype');
}

.homepage {
  background-image: linear-gradient($color-grey, Dimgray);
  width: 100%;
  height: 100vh;
  color: white;
  font-family: arial;



  // mise en page du main
  h2:first-of-type {
    line-height: 60px;
    letter-spacing: -2px;
    color: $color-orange;
  }

  main a {
    font-size: 50px;
    margin-top: 25px;
    text-decoration: none;
    color: white;
  }

  main a:hover {
    color: $color-orange;
    -ms-transform: rotateX(180deg); /* IE 9 */
    -webkit-transform: rotateX(180deg); /* Chrome, Safari, Opera */
    transform: rotateX(180deg);
    transition: 1.3s;
  }

  .sign {
    font-family: "signature";
    font-size: 100px;
    line-height: 30px;
    letter-spacing: 12px;
  }

  .orange {
    font-family: "orange";
    font-size: 50px;
    padding: 0;
    line-height: 50px;
    letter-spacing: 4px;
    font-variant-caps: small-caps;
  }

  .orange2 {
    color: $color-orange;
    letter-spacing: 10px;
    padding-left: 4px;
  }

  .apprentie {
    letter-spacing: 5.5px;
    // padding-left: 0px;
    font-weight: bold;
    color: $color-orange;
  }

  .interest {
    letter-spacing: -1px;
    line-height: 40px;
    margin-left: 0px;
    position: relative;
    top: -5px;
  }

  h1 {
   font-family: "logo";
   line-height: 55px;
   font-size: 5em;

   span {
     letter-spacing: 2.5px;
   }

  }

}


// Mise en page de la navigatoin principale -------------------------------------------------------


// Mise en page du présentation -------------------------------------------------------




// __________________________________
//
//
//          MODE TABLETTE
//
// __________________________________

@media (min-width: 768px) {

  // mise en page du nav du pré accueil
  .homepage nav {
    position: absolute;
    right: 25px;
    top: 10px;

    ul {
      padding: 0;
      display: flex;
      font-size: 2em;
      width: 200px;
      justify-content: space-between;
      li {
        list-style-type: none!important;

        .modal {
          color: $color-orange;
          text-align: center;
          padding: auto 1em;
          font-size: 0.9em!important;
        }
        a {
          color: white;
        }

        a:hover i, a:focus i {
          transform: scale(1.15);
          transition: 0.5s;
          color: white;
        }
      }
    }
  }

}
