// code couleur

$color-green: rgb(0,190,101);
$color-yellow: rgb(229,243,116);
$color-pink:rgb(238,127,206);
$color-orange:rgb(202,79,0);
$color-grey:rgb(57,57,54);


.homepage {
  background-color: $color-grey!important;
  color: white;
}
